<a href="https://colab.research.google.com/github/ravigithub51/colabrepo/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
Create a Jupyter Notebook, Create a markdown cell with the title of the notebook, Create a markdown cell for an introduction, Create a markdown cell with a table of Data Science Tools, Create a markdown cell introducing arithmetic expression examples


*   Python
*   R

*   SQL
*   Java

*   Scala
*   JavaScript

## Author
Ravi Kumar Singh

Some of the popular Languages that Data Scientists use are:


1.   Python
2.   R

1.   SQL
2.   java

1.   Scala
2.   JavaScript

Some of the commonly used libraries used by Data Scientists include:


1.   TensorFlow
2.   NumPy
3.   SciKit-Learn
4.   Pandas
5.   PyTorch
6.   Matplotlib

| Data Science Tools |
| -------------------|
| Spyder             |
| JupyterLabs        |
| RStudio            |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60


def convert(minutes):
	hour = minutes // 60
	return "%d" % (hour)
n = 200
print(convert(n)+ " hour")

3 hour